[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/victor/Desktop/knopka.png]
row=4
col=3

[/home/victor/Desktop/Screenshot at 2020-11-10 18-38-25.png]
row=5
col=1

[/home/victor/Desktop/screenshot.png]
row=1
col=1

[/home/victor/Desktop/Screenshot at 2020-12-06 16-21-38.png]
row=2
col=3

[/home/victor/Desktop/Screenshot at 2020-11-04 21-46-17.png]
row=1
col=2

[/home/victor/Desktop/Screenshot at 2020-12-10 22-08-46.png]
row=0
col=2

[/home/victor/Desktop/Screenshot at 2020-11-29 18-07-14.png]
row=1
col=4

[/home/victor/Desktop/Screenshot at 2020-12-06 21-24-06.png]
row=2
col=2

[/home/victor/Desktop/Screenshot at 2020-11-18 20-59-06.png]
row=3
col=1

[/home/victor/Desktop/Screenshot at 2020-12-27 00-41-59.png]
row=5
col=3

[/home/victor/Desktop/Screenshot at 2020-12-06 15-59-49.png]
row=2
col=1

[/home/victor/Desktop/Screenshot at 2020-12-27 00-41-35.png]
row=3
col=2

[/home/victor/Desktop/Screenshot at 2020-12-03 14-18-18.png]
row=4
col=2

[/home/victor/Desktop/Screenshot at 2020-12-06 21-23-59.png]
row=0
col=1

[/home/victor/Desktop/Screenshot at 2020-12-02 23-22-06.png]
row=5
col=2

[/home/victor/Desktop/buttonexample.png]
row=0
col=3

[/home/victor/Desktop/Screenshot at 2020-11-30 14-09-06.png]
row=0
col=4

[/home/victor/Desktop/Screenshot at 2020-12-06 16-22-07.png]
row=3
col=3

[/home/victor/Desktop/Screenshot at 2020-11-27 10-13-17.png]
row=4
col=1

[/home/victor/Desktop/screenshot_ru.png]
row=1
col=3

[409a38d4-8cf0-449f-b29a-8cc7e55646d5]
row=1
col=0

[61E1-0792]
row=0
col=0

[18F838ADF8388AD0]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/victor]
row=5
col=0

